<h2>Booking Summary</h2>

<table class="table">
  <thead>
    <tr>
      <th>Taxi username</th>
      <th>Amount Accepted</th>
    </tr>
  </thead>
  <tbody>
<%= for tuple <- @tuples do %>
    <tr>
      <td><%= elem(tuple, 0) %></td>
      <td><%= elem(tuple, 1) %></td>
    </tr>
<% end %>
  </tbody>
</table>